@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: floralwhite;
}

body{
    background: url(../imagens/fundobranco.png) no-repeat bottom center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    background: url('../imagens/frame-iphone.png');
    height: 627px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22.2px;
    height: 471.5px;
    width: 268px;
}